<% conversations.forEach(function(conversation) { %>
<li class="list-group-item list-group-item-action" id=<%= conversation.topic %>>
	<div class="col h3">
		<a href=<%= 'chat/' + conversation.topic %>>
			<%= conversation.topic %></a>
		</div>
	<div class="col">
		<ul class="list-group">

	<%conversation.players.forEach(function(player) { %>
			<li class="list-group-item"><%=player%></li>
	<% }); %>

		</ul>
	</div>
</li>
<% }); %>
