<!DOCTYPE html>
<html lang="en">
    <head>
        <title>TableTalk</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    </head>

    <body>
        <div class="container-fluid">
            <div class="row h-2">
            </div>
            <div class="row h-6" id="userInputForm">
                <div class="col d-block center mx-auto">
                    <button id="dmSelectButton" class="btn btn-primary btn-lg">Dungeon Master</button>
                </div>
                <div class="col d-block center mx-auto">
                    <button id="playerSelectButton" class="btn btn-secondary btn-lg">Player</button>
                </div>
            </div>
            <div class="row h-2">
                <div class="col"></div>
            </div>
        </div>

        <script type="application/javascript" src="/js/jquery.min.js"></script>
        <script type="application/javascript" src="/js/tether.min.js"></script>
        <script type="application/javascript" src="/js/bootstrap.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>

        <script type="application/javascript" src="/js/homepage_handler.js"></script>
    </body>
</html>